<ion-view view-title="Create an Account">
  <ion-content class="padding">

    <div class="social_account has-header">
      <div class="row">
        <div class="col-50"><a class="social_items" href="#"><i class="icon ion-social-facebook"></i></a></div>
        <div class="col-50"><a class="social_items" href="#"><i class="icon ion-social-googleplus"></i></a></div>
      </div>
      <div class="or_text">OR</div>
    </div>

    <div class="content">
      <div class="list">
        <label class="item item-input">
          <input type="email" placeholder="Email">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="First Name">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Last Name">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive button_text">SIGN UP</button>
      </div>
      <span class="center_text">Already have an account? <a href="#/signin">Sign in</a></span>
    </div>

  </ion-content>
</ion-view>
